# 카드 소비패턴 분석 및 시각화 경진대회

In [ ]:
#!pip install -r requirements.txt

In [1]:
# road lib
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
import os

In [2]:
# 경로설정
import sys
path = "/Users/jeongseok/Documents/GitHub/AnalysisProject/캐글데이터분석/data"
sys.path.append(path)

In [8]:
# 파일 불러오기
code_sector = pd.read_csv('카드소비 업종코드.csv', encoding = 'cp949')
code_sector

   업종코드(UPJONG_CD) 대분류(CLASS1)  중분류(CLASS2) 소분류(CLASS3)
0            ss001       요식/유흥           한식          한식
1            ss002       요식/유흥     일식/중식/양식          일식
2            ss003       요식/유흥     일식/중식/양식          양식
3            ss004       요식/유흥     일식/중식/양식          중식
4            ss005       요식/유흥  제과/커피/패스트푸드         제과점
..             ...         ...          ...         ...
70           ss084   스포츠/문화/레저    스포츠/문화/레저          스키
71           ss090       교육/학원           학원      입시보습학원
72           ss091       교육/학원           학원       외국어학원
73           ss092       교육/학원           학원       예체능학원
74           ss093       교육/학원           학원     취미/전문학원

[75 rows x 4 columns]

In [13]:
pd.read_csv('집계구별 일별소비지역별 카드소비패턴.csv', encoding = 'cp949')

,가맹점주소광역시도(SIDO),가맹점주소시군구(SGG),업종대분류(UPJONG_CLASS1),기준일자(YMD),고객주소집계구별(TOT_REG_CD),카드이용금액계(AMT_CORR),카드이용건수계(USECT_CORR)
0,서울,강남구,전자상거래,20201021,1123077020119,251500,25
1,서울,관악구,요식/유흥,20170312,1112052010107,158445,20
2,서울,마포구,주유,20161205,1113068050004,8048,15
3,서울,동작구,의료,20201210,1105066020601,22635,5
4,서울,NaN,가정생활/서비스,20210216,1117052020001,65390,10
...,...,...,...,...,...,...,...
495,서울,종로구,가전/가구,20201108,1120055030005,55330,10
496,부산,부평구,의료,20180901,1122058020102,853591,5
497,서울,강남구,유통,20160326,1123064020008,2052240,5
498,서울,서초구,스포츠/문화/레저,20160804,1124061010014,22635,5
499,인천,마포구,음/식료품,20210628,1122052030002,667481,116

In [7]:
pd.read_csv('집계구별 일별시간대별 카드소비패턴.csv', encoding = 'cp949')

,업종대분류(UPJONG_CLASS1),기준일자(YMD),시간대구간(TIME),고객주소집계구별(TOT_REG_CD),카드이용금액계(AMT_CORR),카드이용건수계(USECT_CORR)
0,요식/유흥,20161004,6,1123076010009,104624,10
1,유통,20210303,5,1122060030003,382592,20
2,유통,20170606,6,1123066022301,341688,5
3,스포츠/문화/레저,20171206,5,1124075020103,925118,5
4,의료,20160909,6,1113075030002,217985,50
...,...,...,...,...,...,...
495,전자상거래,20170727,2,1120069010006,90540,25
496,유통,20190406,3,1123072010303,1211325,20
497,교육/학원,20210107,3,1119072030101,266590,15
498,전자상거래,20200426,4,1105063030203,547264,25
499,여행/교통,20160625,4,1103072030001,10559831,5

In [9]:
pd.read_csv('블록별 성별연령대별 카드소비패턴.csv', encoding = 'cp949')

,서울시민업종코드(UPJONG_CD),기준년월(YM),고객주소블록코드(BLOCK_CD),성별(GEDNER),연령대별(AGE),카드이용금액계(AMT_CORR),카드이용건수계(USECT_CORR)
0,SS013,201906,14037,F,50대,48288,65
1,SS048,201608,156830,M,30대,132792,10
2,SS016,202009,32925,M,50대,100600,25
3,SS001,201805,214245,F,30대,213876,40
4,SS044,201705,279472,M,30대,155930,5
...,...,...,...,...,...,...,...
495,SS012,201709,11449,F,30대,75450,45
496,SS044,201707,353037,F,30대,118708,25
497,SS054,201901,418149,F,20대,1056300,15
498,SS021,202009,269015,F,70대이상,25150,5
499,SS003,201812,28101,M,40대,569094,5

In [11]:
pd.read_csv('블록별 시간대별소액결제건수 카드소비패턴.csv', encoding = 'cp949')

,서울시민업종코드(UPJONG_CD),기준년월(YM),시간대구간(TIME),고객주소블록코드(BLOCK_CD),카드이용금액계(AMT_CORR),소액결제건수(MICRO_PYM)
0,SS017,202006,6,11063,257,25
1,SS013,201608,6,216137,86,10
2,SS016,201802,3,224819,35,15
3,SS055,201906,2,19869,10,0
4,SS038,201612,5,28382,10,5
...,...,...,...,...,...,...
495,SS017,201911,5,366735,5,5
496,SS016,201803,2,155750,10,30
497,SS081,202103,3,366426,5,5
498,SS069,201707,3,214935,70,10
499,SS069,201909,4,225316,30,5